<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CoursePortal</display-name>
<welcome-file-list>
 <welcome-file>userLogin.jsp</welcome-file>
 <welcome-file>stuRegister.jsp</welcome-file>
 <welcome-file>stuHome.jsp</welcome-file>
 <welcome-file>stuProfile.jsp</welcome-file>
 <welcome-file>facultyHome.jsp</welcome-file>
 <welcome-file>facultyManageCourse.jsp</welcome-file>
  <welcome-file>facAddCourse.jsp</welcome-file>
 </welcome-file-list>
 
 <servlet>
     <description></description>
     <display-name>UserLoginServlet</display-name>
     <servlet-name>UserLoginServlet</servlet-name>
     <servlet-class>com.mvc.controller.UserLoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>UserLoginServlet</servlet-name>
     <url-pattern>/UserLoginServlet</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>UserLogOutServlet</display-name>
     <servlet-name>UserLogOutServlet</servlet-name>
     <servlet-class>com.mvc.controller.UserLogOutServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>UserLogOutServlet</servlet-name>
     <url-pattern>/UserLogOutServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>StuRegisterServlet</display-name>
	 <servlet-name>StuRegisterServlet</servlet-name>
	 <servlet-class>com.mvc.controller.StuRegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>StuRegisterServlet</servlet-name>
	 <url-pattern>/StuRegisterServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>StuProfileServlet</display-name>
	 <servlet-name>StuProfileServlet</servlet-name>
	 <servlet-class>com.mvc.controller.StuProfileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>StuProfileServlet</servlet-name>
	 <url-pattern>/StuProfileServlet</url-pattern>
 </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>StuEditBridgeServlet</display-name>
	 <servlet-name>StuEditBridgeServlet</servlet-name>
	 <servlet-class>com.mvc.controller.StuEditBridgeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>StuEditBridgeServlet</servlet-name>
	 <url-pattern>/StuEditBridgeServlet</url-pattern>
 </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>StuEditProfileServlet</display-name>
	 <servlet-name>StuEditProfileServlet</servlet-name>
	 <servlet-class>com.mvc.controller.StuEditProfileServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>StuEditProfileServlet</servlet-name>
	 <url-pattern>/StuEditProfileServlet</url-pattern>
 </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>StuViewServlet</display-name>
	 <servlet-name>StuViewServlet</servlet-name>
	 <servlet-class>com.mvc.controller.StuViewServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>StuViewServlet</servlet-name>
	 <url-pattern>/StuViewServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>StuApplyBridgeServlet</display-name>
	 <servlet-name>StuApplyBridgeServlet</servlet-name>
	 <servlet-class>com.mvc.controller.StuApplyBridgeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>StuApplyBridgeServlet</servlet-name>
	 <url-pattern>/StuApplyBridgeServlet</url-pattern>
 </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>StuApplyServlet</display-name>
	 <servlet-name>StuApplyServlet</servlet-name>
	 <servlet-class>com.mvc.controller.StuApplyServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>StuApplyServlet</servlet-name>
	 <url-pattern>/StuApplyServlet</url-pattern>
 </servlet-mapping>
  
  <servlet>
	 <description></description>
	 <display-name>FacViewCourseServlet</display-name>
	 <servlet-name>FacViewCourseServlet</servlet-name>
	 <servlet-class>com.mvc.controller.FacViewCourseServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>FacViewCourseServlet</servlet-name>
	 <url-pattern>/FacViewCourseServlet</url-pattern>
 </servlet-mapping>
   <servlet>
	 <description></description>
	 <display-name>FacAddCourseServlet</display-name>
	 <servlet-name>FacAddCourseServlet</servlet-name>
	 <servlet-class>com.mvc.controller.FacAddCourseServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>FacAddCourseServlet</servlet-name>
	 <url-pattern>/FacAddCourseServlet</url-pattern>
 </servlet-mapping>
   <servlet>
	 <description></description>
	 <display-name>FacRemoveCourseServlet</display-name>
	 <servlet-name>FacRemoveCourseServlet</servlet-name>
	 <servlet-class>com.mvc.controller.FacRemoveCourseServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>FacRemoveCourseServlet</servlet-name>
	 <url-pattern>/FacRemoveCourseServlet</url-pattern>
 </servlet-mapping>
    <servlet>
	 <description></description>
	 <display-name>FacManageStuBridgeServlet</display-name>
	 <servlet-name>FacManageStuBridgeServlet</servlet-name>
	 <servlet-class>com.mvc.controller.FacManageStuBridgeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>FacManageStuBridgeServlet</servlet-name>
	 <url-pattern>/FacManageStuBridgeServlet</url-pattern>
 </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>FacApproveStuServlet</display-name>
	 <servlet-name>FacApproveStuServlet</servlet-name>
	 <servlet-class>com.mvc.controller.FacApproveStuServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>FacApproveStuServlet</servlet-name>
	 <url-pattern>/FacApproveStuServlet</url-pattern>
 </servlet-mapping>
   <servlet>
	 <description></description>
	 <display-name>FacNotApproveServlet</display-name>
	 <servlet-name>FacNotApproveServlet</servlet-name>
	 <servlet-class>com.mvc.controller.FacNotApproveServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>FacNotApproveServlet</servlet-name>
	 <url-pattern>/FacNotApproveServlet</url-pattern>
 </servlet-mapping>
   <servlet>
	 <description></description>
	 <display-name>AddCourseBridgeServlet</display-name>
	 <servlet-name>AddCourseBridgeServlet</servlet-name>
	 <servlet-class>com.mvc.controller.AddCourseBridgeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>AddCourseBridgeServlet</servlet-name>
	 <url-pattern>/AddCourseBridgeServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>CourseViewDetailsServlet</display-name>
	 <servlet-name>CourseViewDetailsServlet</servlet-name>
	 <servlet-class>com.mvc.controller.CourseViewDetailsServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>CourseViewDetailsServlet</servlet-name>
	 <url-pattern>/CourseViewDetailsServlet</url-pattern>
 </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>EditCourseBridgeServlet</display-name>
	 <servlet-name>EditCourseBridgeServlet</servlet-name>
	 <servlet-class>com.mvc.controller.EditCourseBridgeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>EditCourseBridgeServlet</servlet-name>
	 <url-pattern>/EditCourseBridgeServlet</url-pattern>
 </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>CourseEditDetailsServlet</display-name>
	 <servlet-name>CourseEditDetailsServlet</servlet-name>
	 <servlet-class>com.mvc.controller.CourseEditDetailsServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>CourseEditDetailsServlet</servlet-name>
	 <url-pattern>/CourseEditDetailsServlet</url-pattern>
 </servlet-mapping>
 
  <servlet>
	 <description></description>
	 <display-name>RetrievePdf</display-name>
	 <servlet-name>RetrievePdf</servlet-name>
	 <servlet-class>com.mvc.controller.RetrievePdf</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>RetrievePdf</servlet-name>
	 <url-pattern>/RetrievePdf</url-pattern>
 </servlet-mapping>
 
 
 
</web-app>